.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttons-container {
  width: 50vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  width: 15vh;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  padding: 5px;
}

.predictionText{
  margin :0px;
  padding: 0px;
}


