.BackgroundContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Container {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ButtonsDiv {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.predictionText{
  margin :0px;
  padding: 0px;
}


